/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "compass/utilities/sprites"; // Has to be added, identifies that this
                                     // project will be using the sprites utility

@import "icons/*.png";

@include all-icons-sprites;

// Setting a compass helper to a variable height
// The helper detects the height and width by the icon name

$height: icons-sprite-height(github_alt-512);
$width: icons-sprite-width(github_alt-512);

.github {
  height:$height;
  width:$width;
}

